
<h2 class="title">Bem-vindo ao Hospital</h2>
			<p>
				Este é um <strong>Hospital</strong> que se destaca em meio á muitos outros na região.
				Em 1978 foi fundado o hospital com apenas uma sede cituada na cidade de Campos dos Gotacazes, desde então, estamos no ramo á 35 anos para lhe oferecer sempre o melhor.
				Garantimos:
			</p>
			<ul class="list">
				<li class="first"><a href="/">Bom atendimento dos nossos funcionários</a></li>
                                <div class="list"><img src="assets/hospital.jpg" width="700" height="300" alt="" /></div>
				<li><a href="#">Confiança e segurança no trabalho</a></li>
                                <div class="list"><img src="assets/sala-de-cirurgia-teera.jpg" width="700" height="300" alt="" /></div>
				<li><a href="#">Conforto e comodidade</a></li>
                                <div class="list"><img src="assets/hospital-quarto.jpg" width="700" height="300" alt="" /></div>


			</ul>
